* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
}
main {
  border: 1px solid black;
  height: 80%;  
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  overflow-x: hidden;/*in apporpiare but not focusing on the ui  */
}
.leftSide {
  height: max-content;
  overflow-y: hidden;
  max-height: max-content;
  width: 100%;
  user-select: none;
  text-align: center;
  /* padding: 100px; */
  /* background-color: aqua; */
}

.leftSide header{
  font-size: 1.7rem;
  font-weight: 500;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  outline: auto;
}
.address {
  margin-top: 30px;
}
.leftSide header input {
  width: 200px;
  height: 30px;
  outline: none;
  background-color: none;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid gray ;
}

.weather-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  /* background-color: rebeccapurple; */
}
.weather-info-wrapper .col1{

  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  position: relative;
}
.weatherDegreeWrapper h1 {
  font-size: 7rem;
}
.weather-info-wrapper .col1 .weatherDegreeWrapper span{
  position: absolute;
  top: -24%;
  right: -15%;
  font-size: 5rem;
  font-weight: bold;
}
.weather-info-wrapper .col2{
  border: 1px solid gray;
  margin: 10px 30px 0;
}
.SearchBtn {
  width: 80px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.SearchBtn:hover {
  background-color: black;
  color: white;
}
.weatherImage {
  width: 100px;
  height: 100px;
}
.headerLeftWrapper{
  position: relative;
}
.search-result {
  width: 200px;
  border: 1px solid #3333333d;
  position: absolute;
  z-index: 1;
  top: 150%;
  background-color: rgba(240, 248, 255, 0.63);
  border-radius: 10px;
  transition: 0.5s ease-in;

}
.search-result ul {
  font-size: 18px;
  list-style: none;
  padding: 5px 20px;
  width: 100%;
  max-height: 200px;  
  overflow-y: scroll;
}
.search-result ul li{
  padding: 10px 0px;
  border-bottom: 1px solid #33333344;

}
.search-result ul li:last-child{
  border-bottom: none;
}
.search-result ul li:hover{
  background-color: rgba(173, 216, 230, 0.226);
}
@media (max-width: 900px) {
  body{
    padding: 10px;

  }
  .leftSide header{
    font-size: 1.3rem;
    padding: 10px;
    justify-content: space-between;

    flex-wrap: nowrap;
    outline: auto;
  }
  .leftSide header input {
    width: 150px;
  }
  main {
    height: 100%;  
    width: 100%;
    overflow-x: hidden;/*in apporpiare but not focusing on the ui  */
  }
  .weatherDegreeWrapper h1 {
    font-size: 4rem;
  }
  .weather-info-wrapper .col2{
    border: 1px solid gray;
    margin: 10px 40px 0;
  }
}